@import "tailwindcss";

body {
  background-color: #0f0f0f;
  /* Sitenin koyu arka plan rengi */
  color: white;
  /* Yazılar varsayılan beyaz olsun */
  font-family: sans-serif;
  /* İstersen Google Fonts'tan font ekleriz sonra */
}

/* Webkit tarayıcılar (Chrome, Safari, Edge) için Scrollbar Tasarımı */
::-webkit-scrollbar {
  width: 8px;
  /* Çubuğun genişliği */
}

::-webkit-scrollbar-track {
  background: #0f0f0f;
  /* Çubuğun arkasındaki yolun rengi (Siteyle aynı) */
}

::-webkit-scrollbar-thumb {
  background: #333;
  /* Tutup çektiğimiz kısmın rengi (Koyu Gri) */
  border-radius: 4px;
  /* Köşeleri yuvarlat */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* Üzerine gelince biraz parlasın */
}